.screen
   $parent: &
   position: relative
   height: 100vh
   padding-top: 140px
   +xs
      padding-top: 60px
   &__container
      position: relative
      z-index: 2
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      padding: 0 65px
      max-width: 1240px
      +xs
         padding: 0 35px
         
      #{$parent}_room &
         +xs
            padding: 0 15px 30px
   
   &__text
      position: relative
      #{$parent}_room &
         text-align: center
   
   &__title
      max-width: 740px
      margin-bottom: 20px
      text-align: left
      font-size: 60px
      line-height: 65px
      color: #fff
      #{$parent}_room &
         margin: 0 auto 15px
         +f('yes', 50)
         text-align: center
         +xs
            margin: 0 auto 10px
            font-size: 26px
         h2
            position: relative
            display: inline-block
            padding: 0 58px
            +xs
               padding: 0
            &::after, &::before
               position: absolute
               top: 50%
               margin-top: -5px
               width: 43px
               height: 10px
               background-image: url(../img/other/yellow-decor_sm.png)
               content: ''
               +xs
                  display: none
            &::before
               left: 0
            &::after
               right: 0
      +xs
         margin-bottom: 30px
         font-size: 30px
         line-height: 35px
   
   &__img
      +coverdiv
      z-index: 1
      +cover
   &__btn
      opacity: 0
      transform: translateX(-50px)
   &__decor
      position: absolute
      overflow: hidden
      &_x
         top: 31px
         right: calc(100% + 12px)
         width: 43px
         height: 10px
         .screen__decor-img
            background-image: url(../img/other/yellow-decor_sm.png)
      &_y
         left: 23px
         top: calc(100% - 45px)
         width: 8px
         height: 119px
         .screen__decor-img
            background-image: url(../img/other/yellow-decor_md.png)
         
      &-img
         +coverdiv
         +cover
         
   &__descr
      max-width: 824px
      margin: 0 auto
      color: #fff
      font-size: 18px
      line-height: 25px
      +xs
         font-size: 16px
         line-height: 22px
      &-field
         &:not(:last-child)
            margin-bottom: 10px