.view-block
   $parent: &
   padding: 58px 0 15px
   #{$parent}_events &
      padding: 60px 0
      
   &__container
      text-align: center
      
   &__title
      margin-bottom: 10px
      #{$parent}_events &
         margin-bottom: 60px
         
   &__sub-title
      +f('gil-300', 25, 35)
      
   &__inner
      display: flex
      margin: 40px -15px 0
   
   &__item
      position: relative
      flex: 0 0 33.33333%
      padding: 0 15px 30px
      text-align: left
      &:hover
         .view-block__item-btn
            transform: translateX(0)
            opacity: 1
         .view-block__item-img img
            transform: scale(1.15)
         .view-block__item-square-l,
         .view-block__item-square-r
            height: 100%
         .view-block__item-square-t,
         .view-block__item-square-b
            width: 100%
            
      &-content
         padding: 20px 45px 40px
         
      &-date
         margin-bottom: 10px
         +f('yes', 23)
         
      &-img
         overflow: hidden
         height: 250px
         +cover-img
         img
            transition: 2s ease-in-out
      
      &-title
         margin-bottom: 10px
         +f('yes', 23)
         
      &-descr
         p
            color: #33425b
            font-size: 15px
            line-height: 22px
            
      &-btn
         position: absolute
         z-index: 1
         bottom: 10px
         padding: 12px 15px 10px
         min-width: 140px
         +f('gil-600', 13, 21, 150)
         transform: translateX(-50px)
         opacity: 0
         transition: .2s ease-out .5s
         
      &-square
         position: absolute
         top: 15px
         left: 30px
         right: 30px
         bottom: 30px
         pointer-events: none
         &-l, &-r, &-t, &-b
            position: absolute
            width: 0
            height: 0
            background: $yellow
            #{$parent}_events &
               background: $red
               
         &-l
            left: 0
            bottom: 0
            height: 0
            width: 2px
            transition: height .5s cubic-bezier(0.4, 0, 1, 1)
         &-t
            top: 0
            left: 0
            width: 0
            height: 2px
            transition: width .5s cubic-bezier(0.4, 0, 1, 1)
            
         &-r
            right: 0
            top: 0
            height: 0
            width: 2px
            transition: height .5s cubic-bezier(0.4, 0, 1, 1)
         &-b
            bottom: 0
            right: 0
            width: 0
            height: 2px
            transition: width .5s cubic-bezier(0.4, 0, 1, 1)