.offers
   position: relative
   z-index: 1
   margin-bottom: -37px
   &__container
      position: relative
      z-index: 1
      padding: 30px 0 7px
   
   &__block
      position: relative
      max-width: 445px
      padding: 35px 42px 0
      background: #fff
      border: 7px solid #f1f1f1
      border-bottom: 0
      &::after
         position: absolute
         left: -7px
         right: -7px
         top: 100%
         height: 35px
         background: #fff
         border: 7px solid #f1f1f1
         border-top: 0
         content: ''
      
      
      &-title
         max-width: 260px
         margin-bottom: 10px
         
      &-descr
         margin-bottom: 10px
         p
            color: #272727
            &:not(:last-child)
               margin-bottom: 10px
               
      &-info
         display: flex
         
      &-price
         margin-right: 20px
         +f('gil-900', 25, 48)
         
      &-more
         min-width: 160px
   
   &__img
      //height: 475px
      +coverdiv
      +cover
   
.restaurant
   position: relative
   padding: 105px 0 100px
   
   &__bg
      +coverdiv
      +cover
      opacity: .7
      z-index: -1
   
   &__title
      margin-bottom: 30px
      color: #000
      
   &__container
      position: relative
      z-index: 1
      max-width: 720px
   
   &__slider
      .slider__btn_prev
         left: -300px
      .slider__btn_next
         right: -300px
      
   &__card
      padding: 40px 55px 25px 25px
      margin: 0 15px
      border-radius: 20px
      background: rgba(#fff, .66)
      color: #000
      
      &-inner
         display: flex
         margin: 0 -10px
         
      &-col
         padding: 0 10px
         display: flex
         flex-direction: column
         align-items: flex-start
         &:nth-child(1)
            flex: 0 0 256px
         &:nth-child(2)
            flex: 0 0 350px
   
      &-title
         margin-bottom: 20px
         color: #000
   
      &-link
         display: flex
         align-items: center
         margin-bottom: 20px
         +f('gil-700', 12, 14, 100)
         text-transform: uppercase
         .no-touch &:hover
            svg
               fill: $red
            span
               color: $red
               border-bottom-color: $red
               
         span
            color: #000
            border-bottom: 1px solid rgba(#000, .5)
            +trs
         svg
            margin-right: 7px
            +trs
         
      &-btn
         min-width: 160px
         margin-top: auto
         
.sport
   padding: 0 0 40px
   &__title
      margin-bottom: 50px
   
   &__slider
      .slider__btn_prev
         left: 25px
      .slider__btn_next
         right: 25px
      .slider__btn-arrow
         fill: $white
      
   &__item
      $parent: &
      position: relative
      width: 50%
      height: 527px
      color: #fff
      text-align: center
      &-inner
         max-width: 480px
         padding: 83px 15px 0
         margin: 0 auto
      
      &-img
         +coverdiv
         background: no-repeat 50% 100% / cover
         z-index: -1
         +trs
         
      &-title
         max-width: 300px
         min-height: 84px
         margin: 0 auto 30px
         font-size: 35px
         color: #fff
         text-transform: none
         &_width
            max-width: 228px
      &-descr
         margin-bottom: 35px
         min-height: 148px
      &-btn
         padding: 13px 29px 12px
         
      &-decor
         pointer-events: none
         position: absolute
         z-index: 1
         left: 0
         bottom: 4px
         height: 8px
         &_l
            &::after
               position: absolute
               top: 0
               left: 0
               border-bottom: 12px solid #fff
               border-right: 50vw solid transparent
               content: ''
         &_r
            &::after
               position: absolute
               top: 0
               left: 0
               border-bottom: 12px solid #fff
               border-left: 50vw solid transparent
               content: ''
         
.excurs
   padding: 50px 0
   &__container
   
   &__inner
      +clr
      margin: 0 -15px
      
   &__title
      display: block
      margin-bottom: 20px
   &__descr
      
      p
         color: rgba(#33425b, .8)
         font-size: 15px
         line-height: 22px
      
   &__item
      $parent: &
      position: relative
      float: left
      margin: 0 15px 30px
      &:hover
         .excurs__item-center::after
            -webkit-clip-path: inset(0 0 0 0)
            clip-path: inset(0 0 0 0)
            opacity: 1
            background: $yellow
      
         .excurs__item-img
            transform: scale(1.03, 1.08)
         .excurs__item-img::after
            opacity: 1
            transform: translate3d(0, 0, 0)
         .excurs__item-title,
         .excurs__item-descr
            opacity: 1
            transform: translate3d(0, 0, 0)
            
      &_sm
         max-width: 380px
         width: calc(33.33333% - 30px)
         
      &_md
         max-width: 760px
         width: calc(66.66667% - 30px)
         
      &_vert
         width: calc(33.33333% - 30px)
         
      &_horiz
         margin-top: -280px
         
      &-center
         display: flex
         flex-direction: column
         justify-content: center
         height: 251px
         padding: 0 30px
         border: 2px solid $yellow
         text-align: center
         overflow: hidden
         &::after
            +coverdiv
            z-index: -1
            -webkit-clip-path: inset(50% 50% 50% 50%)
            clip-path: inset(50% 50% 50% 50%)
            opacity: 0
            transition: .3s ease-out
            
            content: ''
         
      &-img
         position: relative
         display: block
         height: 251px
         overflow: hidden
         transition: transform .35s
         +cover
         #{$parent}_vert &
            height: 531px
         &::after
            +coverdiv
            background-image: linear-gradient(to bottom, rgba(15, 14, 14, 0.35) 30%, #0e0e0e 100%)
            transform: translate3d(0, 50%, 0)
            opacity: 0
            +trs
            content: ''
            transition: opacity 0.25s, transform 0.25s
            pointer-events: none
   
      &-content
         display: flex
         flex-direction: column
         +coverdiv
         overflow: hidden
         justify-content: center
         #{$parent}_sm &
            padding: 0 23px
         #{$parent}_md &
            padding: 0 60px 0 50px
         #{$parent}_vert &
            padding: 0 22px
   
      &-title
         position: relative
         z-index: 1
         display: block
         margin-bottom: 15px
         color: $yellow
         text-transform: none
         transform: translate3d(0, 70%, 0)
         opacity: 0
         transition: opacity 0.35s .1s, transform 0.35s .1s
   
      &-descr
         display: block
         position: relative
         z-index: 1
         transform: translate3d(0, 70%, 0)
         opacity: 0
         transition: opacity 0.35s .1s, transform 0.35s .1s
         p
            color: #fff
            
.insta
   
   &__container
      margin: 0 auto 40px
   
   &__inner
      display: flex
      flex-wrap: wrap
      justify-content: center
      max-width: 1700px
      margin: 0 auto
      padding: 50px 0
      overflow: hidden
      
   &__img
      position: relative
      flex: 0 0 (100% / 6)
      +ratio(300, 300)
      +cover
      overflow-x: hidden
      transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1)
      +gpu
      .no-touch &:hover
         transform: scale(1.15)
         z-index: 1
         
      &:nth-child(6n)
         .no-touch &:hover
            transform: translateX(-7.5%) scale(1.15)
            
      &:nth-child(6n + 1)
         .no-touch &:hover
            transform: translateX(7.5%) scale(1.15)
      
      &_link
         background: #464646
         .no-touch &:hover
            background: $white
            svg
               fill: $yellow
      
      svg
         position: absolute
         top: 0
         left: 0
         height: 100%
         padding: 30%
         fill: $white