//begin about-block
+b.SECTION.about-block
	+e.container.container
		.container
			+e.text
				+e.title.title-1
					h2 VILLACAMPARI - просторные виллы на берегу моря

				+e.descr
					p Виллы расположены в изумительном экологически чистом месте с потрясающим видом на море, рядом располагается множество пляжей, как в камерных небольших живописных бухтах, так и великолепные многокилометровые с песчаными отмелями, что идеально подходит для семейного и оздоровительного отдыха.
					p
						strong VILLA CAMPARI
						= ' '
						| - это не просто красивые и уютные виллы для отпуска вашей мечты: наш заботливый персонал сделает все возможное, чтобы ваше пребывание было максимально комфортным и разнообразным.
					p А невероятные закаты, первая линия моря, живописные бухты и панорамные окна Вилл будто созданы для созерцания, любования и релакса.

		+e.img-wrap
			+e.img(style='background-image: url(static/img/other/map_img.jpg)')
			+e.img-mask
//end about-block