//begin screen
+b.SECTION.screen
	+e.container.container
		+e.text
			+e.title.title-1
				h2 Уникальный способ познакомиться с Крымом

			+btn('_yellow', 'УЗНАТЬ ПОДРОБНОСТИ', true)

			+e.decor._x
				+e.decor-img

		+e.decor._y
			+e.decor-img

	+e.img(style='background-image: url(static/img/bg/screen_bg.jpg)')
	//end screen